@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    cursor: default;
}

.List_style {
    list-style: none;
}

.Flex {
    display: flex;
}
.Justify_center{
    justify-content: center;
}
.Grid {
    display: grid;
    align-items: center;
}

.w500{
    font-weight: 500;
}

.w600{
    font-weight: 600;
}

.Black{
    color: black;
}
.Light_grey{
    color: #B5B7C0;
}

.Align_center{
    align-items: center;
}
.Align_end{
    align-items: flex-end;
}
.Link{
   text-decoration: none;
}
.Padding0{
    padding: 0;
}
.Margin0{
    margin: 0;
}