@media (max-width: 1340px) {
    .Menu {
        padding: 36px 5px 76px 5px;
    }

    .Menu_img {
        width: 85%;
        margin-left: 4%;
    }

    .List_item {
        width: 170px;
    }

    .Products {
        margin: 53px 25px 258px 30px;
    }

    .Products_description {
        margin: 30px 176px 25px 38px;
    }

    .Products_item {
        grid-template-columns: 19.5% 14.8% 17.5% 23.5% 14.7% 10%;
    }

    .Item_active {
        padding: 3px 19%;
    }

    .Item_inactive {
        padding: 3px 13%;
    }
}

@media (max-width: 1024px) {
    .Menu_img {
        width: 70%;
    }

    .Nav_list {
        margin: 53px 0 0 0;
        padding: 0 0 0 5px;
    }

    .Right_step {
        width: 100%;
    }

    .Products {
        margin: 53px 2% 258px 2.5%;
    }

    .List_item {
        padding: 11px 5px 11px 11px;
    }

    .Products_description h1 {
        width: 170px;
    }

    .Products_list {
        margin: 0 10px;
    }

    .Item_header {
        grid-template-columns: 19% 12.3% 17.5% 25.5% 17.2% 8.5%;
    }

    .Products_item {
        grid-template-columns: 19% 12.3% 17.5% 25.5% 15.2% 10.5%;
    }

    .Item_description {
        letter-spacing: -0.05em;
    }

}

@media (max-width: 870px) {
    .container {
        flex-direction: column;
    }

    .Menu, .Nav_list {
        display: flex;
        margin-top: 0;
    }

    .Menu {
        align-items: center;
        justify-content: space-between;
        padding: 16px 2% 26px 2%;
    }

    .Item-header,
    .Item_vector,
    .Description_header,
    .Card_description {
        display: none;
    }

    .List_item {
        margin-top: 0;
        width: 40px;
        padding: 7px 4px 7px 8px;
    }

    .Client_card {
        margin: 0;
    }

    .Products_description {
        margin: 30px 35% 25px 5%;
    }

    .Products {
        margin: 53px 2% 18% 2.5%;
    }
}

@media (max-width: 680px) {
    .Products_description {
        margin: 30px 25% 25px 5%;
    }

    .Item_description {
        font-size: 11px;
    }

    .Products_footer {
        justify-content: normal;
        flex-direction: column;
    }
}

@media (max-width: 580px) {
    .Nav_list, .Client_card, .None {
        display: none;
    }

    .Menu_hamburger {
        display: block;
        background-color: white;
        border: none;
        padding-top: 2px;
    }

    .Menu_mobile {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(226, 236, 249, 1);
        display: none;
    }

    .Menu_close {
        color: red;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        background: none;
        border: none;
        left: 85%;
    }

    .Mobile_popup {
        color: white;
        background-color: #fefefe;
        margin: 100px auto;
        width: 100%;
        z-index: 15;
    }

    .Mobile_popup li {
        padding: 15px 0;
        border-bottom: 1px solid #EEEEEE;
    }

    .Right_step_header {
        margin: 14px 0 0 22px;
    }

    .Products {
        margin: 23px 5% 18% 6%;
    }

    .Products_header {
        flex-direction: column;
        align-items: normal;
    }

    .Products_description {
        margin: 30px 6px 5px 38px;
    }

    .Products_input {
        margin: 9px 5% 0 5%;
        width: 90%;
    }

    .Products_list {
        margin: 0 6% 0 7%;
    }

    .Item_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .Description_header {
        display: grid;
        grid-template-columns: 1fr;
    }

    .Products_item {
        grid-template-columns: 1fr;
    }

    .Item_description {
        font-size: 14px;
        padding-left: 10px;
        margin-bottom: 1px;
        line-height: 24px;
    }

    .Item_active, .Item_inactive {
        padding: 0 35px;
        margin: 0 auto;
    }


    .Footer_description {
        margin-bottom: 10px;
    }
}